<div class="col-md-6 col-md-offset-3">
    <hr>
    <h4>Nuevo Producto</h4>
    <form name="form" (ngSubmit)="f.form.valid && crear()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !nombre.valid }">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="model.nombre" #nombre="ngModel" required />
            <div *ngIf="f.submitted && !nombre.valid" class="help-block">El nombre es necesario</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !descripcion.valid }">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" [(ngModel)]="model.descripcion" #descripcion="ngModel" required />
            <div *ngIf="f.submitted && !descripcion.valid" class="help-block">La descripcion es necesaria</div>
        </div>
        <div class="form-row">
            <div class="form-group col" [ngClass]="{ 'has-error': f.submitted && !stock.valid }">
                <label for="stock">Stock</label>
                <input type="number" class="form-control" name="stock" [(ngModel)]="model.stock" #stock="ngModel" required />
                <div *ngIf="f.submitted && !stock.valid" class="help-block">El stock es necesario</div>
            </div>
            <div class="form-group col" [ngClass]="{ 'has-error': f.submitted && !stock.valid }">
                <label for="stockLimite">Stock mínimo</label>
                <input type="number" class="form-control" name="stockLimite" [(ngModel)]="model.stockLimite" #stockLimite="ngModel" required />
                <div *ngIf="f.submitted && !stockLimite.valid" class="help-block">El stock límite es necesario</div>
            </div>
                
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                Guardar
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </button>
            <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
        </div>
    </form>
    <hr>
</div>
